.background-container {
  background-image: url('/assets/images/img-logo2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}



